# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/

jsonReports/
test-output/
automation.out
src/main/java/testing/

# config properties
#config.properties