# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws
*.xml

# Mac
.DS_Store

# Maven
log/
target/

jsonReports/
test-output/
automation.out
src/main/java/testing/
CPP.iml

# config properties
#config.properties